<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>

<div class="container">
  <div class="content">
    <div class="listings">
      <div class="listing" style="background-image: url(https://picsum.photos/seed/picsum/200/300)">
          WEhicle
      </div>
      <div class="listing-description">
        <h1>A few words about your vehicle</h1>
        <p>Very nice description of the listing bla bla bla</p>
          <a class="btn btn-gradient" href="#">Update</a>
          <a class="btn btn-gradient" href="#">Delete</a>
      </div>
    </div>
    <div class="listing-details">
      <div class="availability">
        <div class="list-inline">
          <a class="btn btn-success" <%= link_to "Add new vehicle", new_listing_path  %> </a>
        </div>
      </div>
    </div>
  </div>
</div>






<%= render "../views/footer" %>
