<!-- navbar -->

<div class="card-listing">
  <img src="./rocket-listing.jpg" />
  <div class="card-listing-infos">
    <div>
      <h2>Hello <%= @user.name %></h2>
      <p>Here are your WEhicles!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
