<!-- navbar -->

<div class="card-listing">
  <img src="./rocket-listing.jpg" />
  <div class="card-listing-infos">
    <div>

      <p>Here are your WEhicles!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>

<div class="container">
  <div class="content">
    <div class="listings">
      <div class="listing" style="background-image: url(https://picsum.photos/seed/picsum/200/300)">
          WEhicle
      </div>
      <div class="listing-description">
        <h1>A few words about your vehicle</h1>
        <p>Very nice description of the listing bla bla bla</p>
      </div>
    </div>
    <div class="listing-details">
      <div class="availability">


      </div>
    </div>
  </div>
</div>





<%= render "../views/footer" %>
