<% yield %>
<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>



<h1>cool  pages home stuff</h1>
<p>YESYESYESYESYESYESYESYESYESYESYESYESYESYESYESYES</p>




<% yield %>
<%= render "../views/footer" %>

