<% yield %>
<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1529313779164-31ef6a34524f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>WEhicles for <strong>awesome people</strong> with <strong>awesomeness</strong>!</h1>
    <p>Enjoy an experience that you didn't dare to dream about</p>
  </div>
</div>




<h1>cool  pages home stuff</h1>
<p>YESYESYESYESYESYESYESYESYESYESYESYESYESYESYESYES</p>



<% yield %>
<%= render "../views/footer" %>

