<div class="footer mt-3">
  <div class="d-flex justify-content-between pt-5 mb-3 border-bottom pb-5 align-items-center">
    <div class="d-flex col-4 pb-0 justify-content-center align-items-center">
      <h3 class="mr-3">Mobile App</h3> <h3 class="mr-3">Community</h3> <h3>Company</h3>
    </div>
    <div class="d-flex col-4 justify-content-center align-items-center pb-0">
      <img  src="https://image.flaticon.com/icons/svg/610/610290.svg" /> <h2 class="ml-2">WEhicle</h2>
    </div>
    <div class="d-flex col-4 justify-content-center align-items-center pb-0">
      <h3 class="mr-3">Help Desk</h3> <h3 class="mr-3">Blog</h3> <h3>Resources</h3>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</div>